@media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 80px !important;
      height: auto;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
    .hidden-link{
      Display: none;
      visibility: hidden;
    }
  }

span.d-sm-inline{
    color:white;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}
a.nav-link :hover{
    color: #007BFF;
}