/* LOGIN/REGISTER  */
  section.signup-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.signup-form h1{
  margin: 0 0 0.5em;
}

.submit-login-btn{
  background-color: #face3f !important;
  color: black !important;
  transition: all 0.25s ease-out !important;
}

.submit-login-btn:hover{
  background-color: #fed703 !important;
}

.signup-form-2 input, .signup-form-2 input:focus{
    border: 1px solid gray;
    border-radius: 10px;
    font-family: Verdana;
    width: 300px;
    height: 40px;
    display: flex;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 2%;
    outline: none;
    text-indent: 2px;
}

.signup-form-2 button{
    margin-top: 10px;
    width: 150px; height: 40px;
    font-size: 16px; font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.signup-form-2 button:hover{
    background-color: #007BFF;
    color: white;
}

section.signup-form p{
    color: #fb0e22;
    /* font-size: reg; */
    font-family: Verdana;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

section.signup-form a{
  text-decoration-line: none;
  color: #1b98f8;
}

section.signup-form a:hover{
  text-decoration-line:underline;
  color: #ee9519;
}
