/* Products Catalog */

.catalog-container{
    margin-bottom: 50px;
  }

  .row{
    margin: 10px, 0;
    display: flex;
    justify-content:flex-start;
  }

  .btn{
    padding: 0.550rem .75rem;
  }

  .card-prods .card-horizontal{
    background-color: #4d4d4d;
    color: white;
  }

  /* .card-prods:nth-child(odd) .card-horizontal{
    background-color: #4d4d4d;
    color: white;
  } */

  /* .card-prods:nth-child(even) .card-horizontal{
    background-color: #efbf21;
    color: white;
  } */

  .card-horizontal {
    flex-direction: row;
    width: 100%;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 16px;
    text-shadow: 1px 1px gray;
  }

  .card-horizontal .card-img-responsive {
    min-width: 220px;
    max-width: 220px;
    height: 15vw;
    max-height: 15vw;
    background-clip: content-box, padding-box;
    padding: 5px;
    object-fit:cover;
    border-radius: 15px;
  }

  .card h5{
    font-weight: 600;
  }
  
  .card-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .detail-btn{
    padding: 8px 30px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 1.25rem;
    font-weight: 500;
    color: #282828;
    background-color: white;
    border: 2px transparent solid;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;

  }
  .detail-btn:hover{
    background-color: #4d4d4d;
    border: 2px white solid;
    color: white;
    font-weight: bold;
  }


  .menu-btn{
    padding: 8px 30px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 1.25rem;
    font-weight: 500;
    color: #282828;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    border: 2px transparent solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }

  .card-prods .menu-btn:hover{
    background-color: #face3f;
    color: #4d4d4d;
  }
  

  /* .card-prods:nth-child(even) .menu-btn:hover{
    background-color: #4d4d4d;
    color: white;
  }

  .card-prods:nth-child(odd) .menu-btn:hover{
    background-color: #face3f;
    color: #4d4d4d;
  } */

  .modal-body > .img-fluid, .modal-body > .menu-btn .detail-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fef7ec;
}

@media(max-width:991px){
    .card-horizontal .card-img-responsive {
      min-height: 26vw;
      height: 27vw;
      max-height: 28vw;
    }
    .catalog-container h5{
      text-align: start;
    }
  }
  
  .dropdown button[type="button"]:hover, .btn-secondary:focus{
    background-color: white;
    color: #4d4d4d;
  }
  
  .btn:focus .btn-check:focus+.btn-primary, .btn-primary:focus, button:focus:not(:focus-visible){
    color: none;
    outline: white;
    border: white;
  }
  
  .close-modal{
    height: 38%;
    font-size: 1.5em;
    border: none;
    background-color: none;
    background: transparent;
  }
  
  .dropdown select {
    border-radius: 5px;
    font-size: 1.1em;
    padding: 0.4em 1.6em 0.4em 0.4em;
    border: 2px #303030 solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold !important;
  }
  .btn-secondary_2{
    border-radius: 5px;
    border: 2px #303030 solid;
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold !important;
  }

  .pkg-btn{
    /* padding: 0.6em 0.75em; */
    background-color: #face3f;
    color: #282828;
    /* border-radius: 8px; */
  }.pkg-btn:hover{
    color: #282828 !important;
    background-color: #face3f !important;
  }


  /* Package module */

  .pkg-mod{
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-top: 0px !important;
  }

  .col-pkg-mod{
    align-items: center;
    margin-top: 0 !important;
    text-align: left;
    font-size: 1.1em;
  }

  .pkg-img{
    text-align: center;
    justify-content: right;
  }.pkg-img img{
    width: 80px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
  }

  .pkg-close-icon::before{
    line-height: 1.5;
  }

  .btn-pkg-mod{
    padding: 14px 0;
    width: 100%;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 500;
    border: 0px;
    border-bottom-left-radius: calc(.3rem - 1px);
    border-bottom-right-radius: calc(.3rem - 1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .pkg-btn-success{
    color: #282828;
    background-color: #face3f;
  }.pkg-btn-success:hover{
    color: #282828;
    background-color: #face3f;
  }

.modal-body-left{
  padding: 0;
}
.pkg-modal-dialog {
    max-width: 900px;
}

.hr-modal{
  margin: 0;
  opacity: 0.15;
}

.pkg-form{
  margin: 12px 0px;
  padding: 2px 7px;
  background-color: #fbfbfb;
  border: 1px solid #dcd9d9;
  border-radius: calc(.3rem - 1px)
}

.pkg-row-mod{
  margin: 5px 0px !important;
}

.rice-check {
  position: relative;
  margin-top: 2.5px;
  margin-left: 0;
  margin-right: 0.5rem;
}

.pax{text-align: initial;}
.pax-input{
  display: inline-block;
  margin-left: 10px;
  width: 40%;
  height: calc(1em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.subinfo {
  margin: 5px 0 0 0;
  text-align: initial;
}.subinfo p{
  font-size: 1rem;
  margin: 0;
}

.rf-modal{
  border: 0;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}.page-item.active .page-link{
  background-color: #303030;
  color: white;
  border-color: #303030;
}.page-link{
  color: black;
}.page-link:hover {
  z-index: 2;
  color: white;
  text-underline-offset: 2px;
  background-color: #f4f4f4;
  border-color: #303030;
}