/* Profile Picture dropdown */
/* Style for dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for profile picture */
  .profile-pic {
    width: 4em;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Style for dropdown content */
  .dropdown-content {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 2 !important;
    right: auto;
    min-width: 200px;
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 1.5;
    border: 2px black;
  }

  /* Show dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Style for dropdown links */
  .dropdown-content a {
    background-color: #FFF;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-height: 10px;
  }
  
  /* Style for dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

