    /* This applies to all the pages */
*{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4{margin: 24px 0px 24px 35px;}
h1 {font-weight: 700;}


body {
    overflow-y: scroll;
    margin: 0;
    position: relative;
    min-height: 100vh;
    display: flex;

    flex-direction: column;
}  

main{
    padding-bottom: 80px;
}

.wrapper{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

    /* HEADER - LOGO / NAVBAR */

header {
  background-color: #303030;
  color: #242424;
}

.announcement-bar {
  background-color: #fcfcfc;
  border-bottom: 1px solid #fff42c;
  padding-top: 0.4rem;
  text-align: center;
}

.announcement-bar p{
  margin-bottom: 0.4rem;
}

.logo img {
  width: 136px;
  height: auto;
}

.logo, .logo a{
  flex: 0; 
  align-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none; 
  color: #fef7ec;
}

.navbar {
  overflow: hidden;
}

/* Navigation links */
.navbar-brand img {
  width: 80px;
}
.navbar-nav {
  align-items: center;
  padding-left: 20em;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}
@media(max-width:1150px){
  .navbar-nav {
    align-items: center;
    padding-left: 0em;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 120px;
    height: auto;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
  .hidden-link{
    Display: none;
    visibility: hidden;
  }
}

@media(max-width:768px){
  .nav-link-cart{
    display: none;
    position: absolute;
    visibility: hidden;
  }

}

.cart-icon{
  margin-right: 10px;
}.cart-icon{
  width: auto;
  height: 45px;
}
.login-btn{
  width: 8em;
  font-weight: 700;
}

    /* CAROUSEL */
.carousel-item-next.carousel-item-left{
  display: block !important;
}

.carousel-item h1{
  position: absolute;
}

@media(max-width:988px){
  .carousel-item h1{
    font-size: 25px;
    margin: 10px 0px 0px 14px;
    position: absolute;
  }
}
@media(max-width:780px){
  .carousel-item h1{
    font-size: 14px;
    margin: 10px 0px 0px 14px;
    position: absolute;
  }
}

/* FOOTER */
footer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 95px; 
  background-color: #303030;
  text-align: center;
}

footer .row{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-start;
}
footer .col{
  color: #fe5946;
  padding: 0;
  display: block;
}

footer .col a{
  color: #fe5946;
  text-decoration: none;
}

footer .col a:hover{
  color: white;
  text-decoration: none;
  padding: 0;
  display: block;
}

.mid{
  margin-bottom: 100px;
}

.div-post-text{
  align-self: center;
  text-align:justify;
}

#title-name{
  margin-left: -10px !important;
  font-size: 3em;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.index-text{
  line-height: 2.5em;
  font-size: 1.2em;
}

.post-pic{
  width: 350px;
  height: auto;
  outline-offset: 10px;
  outline: 5px solid #303030;
}

.div-post-pic{
  align-self: center;
  text-align: center;
}

/*  */
.name-small-row {
  margin-top: 30px;
}

.name-small {
	font-size: 14px;
	color: #8f8f8f;
  display: table;
  height: 70px;
}

.name-small a {
   display: table-cell;
   vertical-align: middle;
}

.thumb {
	max-width: 150px;
	width: 70px;
	height: 70px;
	background-position: left!important;
  float: right;
	background-size: cover!important;
	border-radius: 100%
}

.thumb1 {
	background: url(https://api.tunereel.com/wp-content/uploads/2021/01/DSC_3259_s-min.jpg) 50% 50% no-repeat
}

.thumb2 {
	background: url(https://api.tunereel.com/wp-content/uploads/2021/02/sol-e1614106510112.jpg) 50% 50% no-repeat;
	background-position: right bottom !important;
}

.thumb3 {
	background: url(https://api.tunereel.com/wp-content/uploads/2021/05/gal-ziv-min.jpg) 50% 50% no-repeat;
	background-position: right top !important;
}

.col-md-12 h2 {
	font-weight: 600
}

.quote {
	color: rgba(0, 0, 0, .1);
	margin-bottom: 10px;
	margin-top: 50px
}

.quote:before {
	position: absolute;
	font-family: FontAwesome;
  top: -30px;
  left: -35px;
  content: "\f10d";
  font-size: 100px;
  color: rgba(247, 247, 247, 0.4);
}

blockquote {
	border: none;
	font-weight: 500;
	font-size: 16px;
	padding: 0!important
}

.testimonial-p{
  color: #fcfcfc;
  font-size: 1.2em;
}

.testimonial-container {
	padding: 40px 0 60px 0;
  background: linear-gradient(to bottom, #464646, #303030); 
}

.testimonial-text p {
  min-height: 168px;
}

@media (max-width:760px){
  .testimonial-text p {
    min-height: unset;
  }
  .name-small {
    text-align: center;
    margin-bottom: 20px;
  }
  .thumb {
    float: none;
    margin: 0 auto;
  }
}
.nav-link_2{
  display: flex !important;
  color: white !important;
  margin-right: 15px !important;
  justify-content: start !important;
  align-items: center !important;
  padding: 8px 10px !important;
  margin: 13px 0px !important;
  border: 2px white solid !important;
  width: 100% !important;
}

.nav-link_2>span{
  color: white !important;
  margin-left: 20px !important;
  font-size: 20px !important;
}

.nav-link_mini{
  display: flex !important;
  color: white !important;
  margin: 5px 0px !important;
  margin-left: 10px !important;
  padding-left: 10px !important;
  justify-content: start !important;
  align-items: center !important;
  border: 2px white solid !important;
  width: auto !important;
}

.menu_admin{
  width: 100% !important;
}

.menu_admin>span{
  border-bottom: 2px white solid !important;
  width: 100% !important;
}

.sb-admin{
  padding-top: 20px;
  padding-left: 30px;
  height: 88vh !important;
}

.dark-button{
  border: 1px #303030 solid !important;
  background-color: #303030 !important;
  color: white !important;
  font-weight: bold !important;
}

.dark-button-outline{
  border: 1px #303030 solid !important;
  background-color: transparent !important;
  font-weight: bold !important;
}

.pagination .page-link {
  color: #ccc !important;
  background-color: #303030 !important;
  border: 1px solid #ccc !important;
}

.pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: #303030 !important;
  border-color: #ffffff !important; 
}
